06-AI Generated Videos/AI Generated Videos.json
{
  "name": "AI Generated Videos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1312,
        -672
      ],
      "id": "ID",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "ID",
          "mode": "list",
          "cachedResultName": "AI Video Ideas",
          "cachedResultUrl": "Google Sheets"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "Google Sheet"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "In Progress"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1088,
        -672
      ],
      "id": "ID",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ID",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -792,
        -448
      ],
      "id": "ID",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Idea:  {{ $json.Ideas }}",
        "options": {
          "systemMessage": "** System Prompt for AI Agent: Veo 3.1 Prompt Generator\n\nYou are an expert prompt engineer trained specifically for **Google Veo 3.1**.\nYour task is to take a short video idea and turn it into a **concise**, **cinematic**, and **hyper-realistic** prompt.\n\n*** CRITICAL CONSTRAINT\n**The final output must be strictly under 1000 characters.**\n\n*** Output Requirements\nGenerate a single, high-density paragraph that integrates:\n1. **Setting & Atmosphere** (Lighting, environment).\n2. **Visual Details** (Textures, specific objects, motion).\n3. **Cinematic Tech** (Camera angles, fps, lens type).\n\n*** Rules\n- Prioritize **information density** over length.\n- Use strong, descriptive keywords; remove filler words.\n- Ensure the tone is evocative and visual.\n- **Do not** explain your prompt or include reasoning.\n- Only output the final **Veo 3.1 prompt**.\n\n*** Example Input\nIdea: \"ASMR cutting kiwi\"\n\n*** Example Output\nVeo 3.1 Prompt: Extreme close-up of a ripe kiwi on a wooden board. Ultra HD textures showing fuzzy skin and glistening water droplets. Natural window light illuminates translucent green flesh as a knife slices through with a crisp sound. Soft focus background, macro lens, shallow depth of field, 120 fps slow-motion to emphasize juice movement. Visually satisfying and hyper-realistic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -864,
        -672
      ],
      "id": "ID",
      "name": "Prompt Agent"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        -512
      ],
      "id": "ID",
      "name": "Wait",
      "webhookId": "Webhook ID"
    },
    {
      "parameters": {
        "url": "=https://api.runwayml.com/v1/generations/{{ $('Generate Video').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        -352
      ],
      "id": "ID",
      "name": "Get video"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Get row(s) in sheet').item.json.Ideas }}",
        "regionCode": "PK",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -112,
        -656
      ],
      "id": "ID",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ID",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "http",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        -656
      ],
      "id": "ID",
      "name": "Download Video"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "ID",
          "mode": "list",
          "cachedResultName": "AI Video Ideas",
          "cachedResultUrl": "Google Sheets"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "Google Sheets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ideas",
              "displayName": "Ideas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -656
      ],
      "id": "ID",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ID",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.runwayml.com/v1/image_to_video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ YOUR API KEY }}"
            },
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"promptText\": \"string\",\n  \"promptImage\": \"https://example.com/image.jpg\",\n  \"seed\": 4294967295,\n  \"ratio\": \"1280:720\",\n  \"duration\": 2,\n  \"contentModeration\": {\n    \"publicFigureThreshold\": \"auto\"\n  },\n  \"model\": \"gen4_turbo\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        -672
      ],
      "id": "ID",
      "name": "Generate Video"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ID"
  },
  "id": "ID",
  "tags": []
}
